[submodule "dotfiles/.config/nvim"]
	path = dotfiles/.config/nvim
	url = git@github.com:goodvibs/nvim-config.git

[submodule "dotfiles/.config/helix"]
	path = dotfiles/.config/helix
	url = git@github.com:goodvibs/hx-config.git
