*

!aerospace/
!aerospace/**/*

!cursor/
!cursor/**/*

!ghostty/
!ghostty/**/*

!git/
!git/**/*

!karabiner/
!karabiner/**/*

!lazygit/
!lazygit/**/*

!nvim/
!nvim/**/*

!zellij/
!zellij/**/*

**/.DS_Store
