*

!aerospace/
!aerospace/**/*

!ghostty/
!ghostty/**/*

!git/
!git/**/*

!karabiner/
!karabiner/**/*

!lazygit/
!lazygit/**/*

!nvim/
!nvim/**/*

!helix/
!helix/**/*

!yazi/
!yazi/**/*

!zellij/
!zellij/**/*

**/.DS_Store
